<div id="desired_career_profile_bx" class="job-bx bg-white m-b30">
    <div class="d-flex">
      <h5 class="m-b30">Desired Career Profile</h5>
      <a href="javascript:void(0);" data-toggle="modal" data-target="#desiredprofile" class="site-button add-btn button-sm"><i class="fa fa-pencil m-r5"></i> Edit</a>
    </div>
    <!-- Modal -->
    <div class="modal fade modal-bx-info editor" id="desiredprofile" tabindex="-1" role="dialog" aria-labelledby="DesiredprofileModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="DesiredprofileModalLongTitle">Desired Career Profile </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="row">
                <div class="col-lg-12 col-md-12">
                  <div class="form-group">
                    <label>Industry</label>
                    <select>
                      <option>Accounting / Finance</option>
                      <option>Banking / Financial Services / Broking</option>
                      <option>Education / Teaching / Training</option>
                      <option>IT-Hardware &amp; Networking</option>
                      <option>Other</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-12 col-md-12">
                  <div class="form-group">
                    <label>Functional Area / Department</label>
                    <select>
                      <option>Agent</option>
                      <option>Architecture / Interior Design</option>
                      <option>Beauty / Fitness / Spa Services</option>
                      <option>IT Hardware / Technical Support</option>
                      <option>IT Software - System Programming</option>
                      <option>Other</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-12 col-md-12">
                  <div class="form-group">
                    <label>Role</label>
                    <select>
                      <option>Creative</option>
                      <option>Web Designer</option>
                      <option>Graphic Designer</option>
                      <option>National Creative Director</option>
                      <option>Fresher</option>
                      <option>Other</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-12 col-md-12">
                  <div class="form-group">
                    <label>Job Type</label>
                    <div class="row">
                      <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="permanent" name="example1">
                          <label class="custom-control-label" for="permanent">Permanent</label>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="contractual" name="example1">
                          <label class="custom-control-label" for="contractual">Contractual</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12 col-md-12">
                  <div class="form-group">
                    <label>Employment Type</label>
                    <div class="row">
                      <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="fulltime" name="example1">
                          <label class="custom-control-label" for="fulltime">Full Time</label>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="parttime" name="example1">
                          <label class="custom-control-label" for="parttime">Part Time</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>	
                <div class="col-lg-12 col-md-12">
                  <div class="form-group">
                    <label>Preferred Shift</label>
                    <div class="row">
                      <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                        <div class="custom-control custom-radio">
                          <input type="radio" class="custom-control-input" id="day" name="example1">
                          <label class="custom-control-label" for="day">Day</label>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                        <div class="custom-control custom-radio">
                          <input type="radio" class="custom-control-input" id="night" name="example1">
                          <label class="custom-control-label" for="night">Night</label>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                        <div class="custom-control custom-radio">
                          <input type="radio" class="custom-control-input" id="flexible" name="example1">
                          <label class="custom-control-label" for="flexible">Part Time</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>															
                <div class="col-lg-12 col-md-6">
                  <div class="form-group">
                    <label>Availability to Join</label>
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                        <select>
                          <option>2018</option>
                          <option>2019</option>
                          <option>2020</option>
                          <option>2021</option>
                          <option>2022</option>
                        </select>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                        <select>
                          <option>january</option>
                          <option>february</option>
                          <option>March</option>
                          <option>April</option>
                          <option>May</option>
                          <option>Jun</option>
                          <option>July</option>
                          <option>August</option>
                          <option>September</option>
                          <option>October</option>
                          <option>November</option>
                          <option>December</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12 col-md-12">
                  <div class="form-group">
                    <label>Expected Salary</label>
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                        <div class="custom-control custom-radio">
                          <input type="radio" class="custom-control-input" id="usdollars" name="example1">
                          <label class="custom-control-label" for="usdollars">US Dollars</label>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                        <div class="custom-control custom-radio">
                          <input type="radio" class="custom-control-input" id="rupees" name="example1">
                          <label class="custom-control-label" for="rupees">Indian Rupees</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12 col-md-6">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                        <select>
                          <option>0 lakh</option>
                          <option>1 lakh</option>
                          <option>2 lakh</option>
                          <option>5 lakh</option>
                          <option>4 lakh</option>
                          <option>5 lakh</option>
                        </select>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                        <select>
                          <option> 05 Thousand </option>
                          <option> 10 Thousand </option>
                          <option> 15 Thousand </option>
                          <option> 20 Thousand </option>
                          <option> 25 Thousand </option>
                          <option> 30 Thousand </option>
                          <option> 35 Thousand </option>
                          <option> 40 Thousand </option>
                          <option> 45 Thousand </option>
                          <option> 50 Thousand </option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12 col-md-12">
                  <div class="form-group">
                    <label>Desired Location</label>
                    <select>
                      <option>India</option>
                      <option>Australia</option>
                      <option>Bahrain</option>
                      <option>China</option>
                      <option>Dubai</option>
                      <option>France</option>
                      <option>Germany</option>
                      <option>Hong Kong</option>
                      <option>Kuwait</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-12 col-md-12">
                  <div class="form-group">
                    <label>Desired Industry</label>
                    <select>
                      <option>Software</option>
                      <option>Factory</option>
                      <option>Ngo</option>
                      <option>Other</option>
                    </select>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="site-button" data-dismiss="modal">Cancel</button>
            <button type="button" class="site-button">Save</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal End -->
    <!-- Details -->
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="clearfix m-b20">
          <label class="m-b0">Industry</label>
          <span class="clearfix font-13">IT-Software/Software Services</span>
        </div>
        <div class="clearfix m-b20">
          <label class="m-b0">Role</label>
          <span class="clearfix font-13">Web Designer</span>
        </div>
        <div class="clearfix m-b20">
          <label class="m-b0">Employment Type</label>
          <span class="clearfix font-13">Full Time</span>
        </div>
        <div class="clearfix m-b20">
          <label class="m-b0">Availability to Join</label>
          <span class="clearfix font-13">12 july</span>
        </div>
        <div class="clearfix m-b20">
          <label class="m-b0">Desired Location</label>
          <span class="clearfix font-13">Add Desired Location</span>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="clearfix m-b20">
          <label class="m-b0">Functional Area</label>
          <span class="clearfix font-13">Design / Creative / User Experience</span>
        </div>
        <div class="clearfix m-b20">
          <label class="m-b0">Job Type</label>
          <span class="clearfix font-13">permanent</span>
        </div>
        <div class="clearfix m-b20">
          <label class="m-b0">Desired Shift</label>
          <span class="clearfix font-13">Add Desired Shift</span>
        </div>
        <div class="clearfix m-b20">
          <label class="m-b0">Expected Salary</label>
          <span class="clearfix font-13">1 Lakhs</span>
        </div>
        <div class="clearfix m-b20">
          <label class="m-b0">Desired Industry</label>
          <span class="clearfix font-13">Add Desired Industry</span>
        </div>
      </div>
    </div>
    <!-- Details End -->
  </div>