<div class="content-block">
    <!-- Browse Jobs -->
    <div class="section-full browse-job content-inner-2">
        <div class="container">
            <div class="row">
                <div class="col-md-6 gauge-section">
                    <div class="gauge-card">
                        <div class="gauge-icon">
                            <img src="assets/images/gauge-meter.png" alt="gauge-meter.png">
                            <p style="margin-bottom: 0px;">752</p>
                            <p>Career Score</p>
                        </div>
                        <div class="gauge-detail_00">
                            <p>Your Talenting Career Score is your tool to advance your career. Your Score is calculated
                                from 80 to 800 by the number of quality verifications you receive from your managers,
                                peers and colleauges. The More quality verifications you receive the better your
                                Talenting Career Score. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 gauge-section">
                    <div class="gauge-card">
                        <div class="gauge-icon">
                            <img src="assets/images/gauge-meter.png" alt="gauge-meter.png">
                            <p style="margin-bottom: 0px;">500</p>
                            <p>Verifier Score</p>
                        </div>
                        <div class="gauge-detail_00">
                            <p>Your Talenting Verifier Score shows the quality of yours reviews of your managers, peers
                                and colleauges. The higher your Verifier score is the more trusted your profile becomes.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <section class="list-v-sec">
                <div class="row">
                    <div class="col-md-12">
                        <div class="ver_heading">
                            <h4>List of Verifiers</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="main-card-w-v">
                            <div class="card_img">
                                <img src="https://media-exp1.licdn.com/dms/image/C4E03AQGcAQpgXMOZmQ/profile-displayphoto-shrink_200_200/0?e=1586995200&v=beta&t=B95IcQPYUqJPnEnVezyYNrE88IZkuNunkWPHFP1G6lE"
                                    alt="ver.png">
                            </div>
                            <div class="card_detail_lv">
                                <h5>Neeraj Yadav</h5>
                                <p><span><img src="assets/images/logo/logo/designation.png" alt=""></span>Android
                                    Developer</p>
                                <p><span><img src="assets/images/logo/logo/location.png" alt=""></span>Gurgaon, India
                                </p>
                                <p><span><img src="assets/images/logo/logo/mail-small.png"
                                            alt=""></span>neeraj.vdoit@gmail.com</p>
                                <p><span><img src="assets/images/logo/logo/scoreboard.png" alt=""></span>150</p>
                                <div class="card-detail-skill">
                                    <span>Java</span>
                                    <span>React Native</span>
                                    <span>Kotlin</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="main-card-w-v">
                            <div class="card_img">
                                <img src="https://media-exp1.licdn.com/dms/image/C4E03AQGcAQpgXMOZmQ/profile-displayphoto-shrink_200_200/0?e=1586995200&v=beta&t=B95IcQPYUqJPnEnVezyYNrE88IZkuNunkWPHFP1G6lE"
                                    alt="ver.png">
                            </div>
                            <div class="card_detail_lv">
                                <h5>Neeraj Yadav</h5>
                                <p><span><img src="assets/images/logo/logo/designation.png" alt=""></span>Android
                                    Developer</p>
                                <p><span><img src="assets/images/logo/logo/location.png" alt=""></span>Gurgaon, India
                                </p>
                                <p><span><img src="assets/images/logo/logo/mail-small.png"
                                            alt=""></span>neeraj.vdoit@gmail.com</p>
                                <p><span><img src="assets/images/logo/logo/scoreboard.png" alt=""></span>150</p>
                                <div class="card-detail-skill">
                                    <span>Java</span>
                                    <span>React Native</span>
                                    <span>Kotlin</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="main-card-w-v">
                            <div class="card_img">
                                <img src="https://media-exp1.licdn.com/dms/image/C4E03AQGcAQpgXMOZmQ/profile-displayphoto-shrink_200_200/0?e=1586995200&v=beta&t=B95IcQPYUqJPnEnVezyYNrE88IZkuNunkWPHFP1G6lE"
                                    alt="ver.png">
                            </div>
                            <div class="card_detail_lv">
                                <h5>Neeraj Yadav</h5>
                                <p><span><img src="assets/images/logo/logo/designation.png" alt=""></span>Android
                                    Developer</p>
                                <p><span><img src="assets/images/logo/logo/location.png" alt=""></span>Gurgaon, India
                                </p>
                                <p><span><img src="assets/images/logo/logo/mail-small.png"
                                            alt=""></span>neeraj.vdoit@gmail.com</p>
                                <p><span><img src="assets/images/logo/logo/scoreboard.png" alt=""></span>150</p>
                                <div class="card-detail-skill">
                                    <span>Java</span>
                                    <span>React Native</span>
                                    <span>Kotlin</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="list-v-view-btn">
                            <button class="btn btn-primary">View More</button>
                        </div>
                    </div>
                </div>
            </section>
            <div class="row">
                <div class="col-md-9">
                    <app-work-experience></app-work-experience>
                    <app-education></app-education>
                    <app-skill></app-skill>
                    <app-ideal-job></app-ideal-job>
                </div>
                <div class="col-md-3 m-b30">
                    <div class="widget widget_gallery gallery-grid-3">
                        <h6 class="widget-title style-1" style="text-align: center;">Blockchain History</h6>
                        <ul>
                            <li>
                                <div class="dez-post-thum">
                                    <img src="assets/images/logo/logo/blockchain.png" alt="Skills">
                                    <a href="javascript:void(0);" class="dez-img-overlay1 zoom-slow">

                                        <p>Skills</p>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="dez-post-thum">
                                    <img src="assets/images/logo/logo/blockchain.png" alt="Work Experience">
                                    <a href="javascript:void(0);" class="dez-img-overlay1 zoom-slow">
                                        <p style="line-height: 18px;">Work Experience</p>
                                    </a></div>
                            </li>
                            <li>
                                <div class="dez-post-thum">
                                    <img src="assets/images/logo/logo/blockchain.png" alt="Education">
                                    <a href="javascript:void(0);" class="dez-img-overlay1 zoom-slow">
                                        <p>Education</p>
                                    </a></div>
                            </li>
                            <li>
                                <div class="dez-post-thum">
                                    <img src="assets/images/logo/logo/blockchain.png" alt="Ideal Job">
                                    <a href="javascript:void(0);" class="dez-img-overlay1 zoom-slow">
                                        <p>Ideal Job</p>
                                    </a></div>
                            </li>
                        </ul>
                    </div>
                    <div class="widget widget_gallery gallery-grid-3">
                        <h6 class="widget-title style-1" style="line-height: 25px;">Several ways to verify your skills
                        </h6>
                        <div class="tg-widgetcontent">
                            <ul class="tg-socialicons">
                                <li class="tg-facebook"><a href="#"><img src="assets/images/logo/logo/facebook.png"
                                            alt="Facebook"><span>Facebook</span></a></li>
                                <li class="tg-twitter"><a href="#"><img src="assets/images/logo/logo/twitter.png"
                                            alt="Twitter"><span>Twitter</span></a></li>
                                <li class="tg-linkedin"><a href="#"><img src="assets/images/logo/logo/linkedin.png"
                                            alt="Linkedin"><span>Linkedin</span></a></li>
                                <li class="tg-googleplus"><a href="#"><img src="assets/images/logo/logo/gmail.png"
                                            alt="Gmail"><span>Google Plus</span></a></li>
                                <li class="tg-rss"><a href="#"><img src="assets/images/logo/logo/mail.png"
                                            alt="Email"><span>Email Verifier</span></a></li>
                                <li class="tg-vimeo"><a href="#"><i
                                            class="fa fa-vimeo"></i><span>Verification</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Browse Jobs END -->
</div>