<div id="it_skills_bx" class="job-bx table-job-bx bg-white m-b30">
    <div class="d-flex">
      <h5 class="m-b15">IT Skills</h5>
      <a href="javascript:void(0);" data-toggle="modal" data-target="#itskills" class="site-button add-btn button-sm"><i class="fa fa-pencil m-r5"></i> Edit</a>
    </div>
    <p>Mention your employment details including your current and previous company work experience</p>
    <table>
      <thead>
        <tr>
          <th>Skills</th>
          <th>Version</th>
          <th>Last Used</th>
          <th>Experience</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Bootstrap</td>
          <td>3</td>
          <td>2018</td>
          <td>1 Year 5 Months</td>
          <td><a class="m-l15 font-14" data-toggle="modal" data-target="#itskills" href="#"><i class="fa fa-pencil"></i></a></td>
        </tr>
        <tr>
          <td>Bootstrap</td>
          <td>4</td>
          <td>2013</td>
          <td>5 Year 5 Months</td>
          <td><a class="m-l15 font-14" data-toggle="modal" data-target="#itskills" href="#"><i class="fa fa-pencil"></i></a></td>
        </tr>
        <tr>
          <td>html</td>
          <td>5</td>
          <td>2016</td>
          <td>2 Year 7 Months</td>
          <td><a class="m-l15 font-14" data-toggle="modal" data-target="#itskills" href="#"><i class="fa fa-pencil"></i></a></td>
        </tr>
        <tr>
          <td>css</td>
          <td>3</td>
          <td>2018</td>
          <td>0 Year 5 Months</td>
          <td><a class="m-l15 font-14" data-toggle="modal" data-target="#itskills" href="#"><i class="fa fa-pencil"></i></a></td>
        </tr>
        <tr>
          <td>photoshop</td>
          <td>64bit</td>
          <td>2017</td>
          <td>1 Year 0 Months</td>
          <td><a class="m-l15 font-14" data-toggle="modal" data-target="#itskills" href="#"><i class="fa fa-pencil"></i></a></td>
        </tr>
      </tbody>
    </table>
    <!-- Modal -->
    <div class="modal fade modal-bx-info editor" id="itskills" tabindex="-1" role="dialog" aria-labelledby="ItskillsModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="ItskillsModalLongTitle">IT Skills</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="row">
                <div class="col-lg-12 col-md-12">
                  <div class="form-group">
                    <label>IT Skills</label>
                    <input type="email" class="form-control" placeholder="Enter IT Skills">
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <label>Version</label>
                    <input type="email" class="form-control" placeholder="Enter Version">
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <label>Last Used</label>
                    <select>
                      <option>2018</option>
                      <option>2017</option>
                      <option>2016</option>
                      <option>2015</option>
                      <option>2014</option>
                      <option>2013</option>
                      <option>2012</option>
                      <option>2011</option>
                      <option>2010</option>
                      <option>2009</option>
                      <option>2008</option>
                      <option>2007</option>
                      <option>2006</option>
                      <option>2005</option>
                      <option>2004</option>
                      <option>2003</option>
                      <option>2002</option>
                      <option>2001</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-12 col-md-6">
                  <div class="form-group">
                    <label>Experience</label>
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                        <select>
                          <option>2018</option>
                          <option>2017</option>
                          <option>2016</option>
                          <option>2015</option>
                          <option>2014</option>
                          <option>2013</option>
                          <option>2012</option>
                          <option>2011</option>
                          <option>2010</option>
                          <option>2009</option>
                          <option>2008</option>
                          <option>2007</option>
                          <option>2006</option>
                          <option>2005</option>
                          <option>2004</option>
                          <option>2003</option>
                          <option>2002</option>
                          <option>2001</option>
                        </select>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                        <select>
                          <option>january</option>
                          <option>february</option>
                          <option>March</option>
                          <option>April</option>
                          <option>May</option>
                          <option>Jun</option>
                          <option>July</option>
                          <option>August</option>
                          <option>September</option>
                          <option>October</option>
                          <option>November</option>
                          <option>December</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="site-button" data-dismiss="modal">Cancel</button>
            <button type="button" class="site-button">Save</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal End -->
  </div>